@charset "UTF-8";

:root {

   --font-default: 'Poppins', Arial, sans-serif;

   font-size: 16px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: auto;
   font-family: var(--font-default);
}