.Start {
   margin-top: 50px;
   margin-bottom: 100px;
}
.Start button {
   margin-top: 20px;
   padding: 10px 20px;
   font-size: 0.9rem;
   font-family: var(--default-font);
   border-radius: 20px;
   border: none;
   background-color: blue;
   color: white;
   cursor: pointer;
   transition: all .4s;
}
.Start button:hover {
   background-color: #3535bc;
   cursor: pointer;
   transition: all .4s;
}